---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}

      {% if category[0] == 'working_papers' %}
        {% unless post.category == 'working_papers' or post.category == 'under_review' or post.category == 'rr' %}
          {% continue %}
        {% endunless %}
      {% elsif post.category != category[0] %}
        {% continue %}
      {% endif %}

      {% unless title_shown %}
        <h2>
          {% if category[0] == 'working_papers' %}
            Working Papers
          {% else %}
            {{ category[1].title }}
          {% endif %}
        </h2>
        <hr />
        {% assign title_shown = true %}
      {% endunless %}

      {% include archive-single.html %}

    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


{% comment %}
<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
{% endcomment %}
